if (post.categories && post.categories.length)
  span.post-categories
    i.icon-book
    - post.categories.each(function (category) {
      a.button.post-category(href!=url_for(category.path))
        | #{category.name}
    - })