if (post.categories && post.categories.length)
  span.post-categories
    - post.categories.each(function (category) {
        a.button.post-category(href!=url_for(category.path))
          i.icon-book
          | #{category.name}
    - })