if (post.categories && post.categories.length)
  div.post-categories.u-fl
    - post.categories.each(function (category) {
        button.post-category(href!=url_for(category.path))
          i.icon-book
          | #{category.name}
    - })