doctype html
html
  head
    !=partial('_partial/head')
  body
    #layout.layout
      aside.sidebar.js-sidebar-trigger
        .header
          !=partial('_partial/header')
        !=partial('_partial/logo')
      main.content
        .posts
          !=body
        .footer
          !=partial('_partial/footer')
      !=partial('_partial/after-footer')