doctype html
html
  head
    !=partial('_partial/head')
  body
    #layout.layout.pure-g
      nav.sidebar.pure-u-1.js-sidebar-trigger
        .header
          !=partial('_partial/header')
      main.content.pure-u-1
        .posts
          !=body
        .footer
          !=partial('_partial/footer')
      !=partial('_partial/after-footer')