.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
  font-size: 2em;
  a {
    color: #fff;
  }
}
.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
  height: 1.2em;
  overflow: hidden;
}

.tagline {
  height: 0; // allows taglines to overlap without pos:abs
  opacity: 0;

  @for $i from 0 to $tagline-count {
    &:nth-child(#{$i + 1}) {
      animation: taglines #{$tagline-animation-time}s infinite;
      animation-timing-function: ease-in-out;
      animation-delay: #{$i * $tagline-animation-time / $tagline-count}s;
    }
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-left: 1em;

  &:first-child {
    margin-left: 0;
  }
}
