// POST STYLES
%meta {
  font-size: 80%;
  color: #999;
  vertical-align: super;
}
.post {
  padding-bottom: 2em;
  &-gallery {
    $heightPostGallery: 60px;
    height: $heightPostGallery;
    overflow: hidden;
    padding: 0;
    li {
      display: table-cell;
      list-style-type: none;
      vertical-align: top;
      border-left: 2px solid #fff;
      &:first-child {
        border-left: 0;
      }
    }
    img {
      position: relative;
      top: $heightPostGallery / 2;
      transform: translateY(-50%);
    }
  }
  &-header {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $colorBorder--base;
    .archive-post & {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  &-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
    margin-top: 0;
  }
  &-avatar {
    border-radius: 50%;
    float: right;
    margin: 2em 0 0;
  }
  &-content {
    color: #444;
    line-height: 1.8em;
  }
  &-categories {
    @extend %meta;
    margin-right: 0.5em;
    padding-left: 0.15em; // fix alignment with tags block
    display: inline-block;
  }
  &-date {
    @extend %meta;
    white-space: nowrap;
    display: inline-block;
  }
  &-roles {
    @extend %meta;
    padding-left: 0.25em;
    @include respond-to('to-sm') {
      display: none;
    }
  }
  &-tags {
    @extend %meta;
    @include respond-to('to-sm') {
      display: none;
    }
  }
  &-category,
  &-tag,
  &-role {
    margin: 0 0 0.5em 0.5em;
    padding: 0.15em 1em;

    .archive-post & {
      z-index: 10;
    }
  }
  // Post Category Types
  &-category {
    &-design {
      background: #5aba59;
    }
    &-pure {
      background: #4d85d1;
    }
    &-yui {
      background: #8156a7;
    }
    &-js {
      background: #df2d4f;
    }
  }
  &-links {
    float: left;
    padding: 1.3em 1em 1.2em 0;
    font-size: 90%;
    border-right: 1px solid #d9d9d9;
    margin-right: 1em;

    > a {
      display: block;
      margin-top: 0.45em;
      text-align: center;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
