$breakpoints: (
  'sm': (min-width: 30em),
  'to-sm': (max-width: 30em),
  'md': (min-width: 48em),
  'md-only': "(min-width: 48em) and (max-width: 60em)",
  'to-md': (max-width: 48em),
  'lg': (min-width: 60em),
  'xl': (min-width: 80em)
);

$fa-css-prefix: icon;
$tagline-count: 6; // number of items in config.subtitle array
$tagline-animation-time: 10;

$boston_blue: #3b91b4; //links
$oxford_blue: #3d4f5d; //sidebar

$colorLink--base: $boston_blue;
$colorLink--hover: #b0cadb;
$colorButton--base: #999;

$colorBorder--base: #d9d9d9;
$colorBorder--primary: $boston_blue;

@mixin respond-to($name) {
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
