@import 'variables';
@import 'utilities';
@import 'font-awesome';
@import 'font-firaSans';

%font-awesome {
  font-family: FontAwesome;
}
[class^="icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  color: #666;
}

@import 'base';
@import 'structure';

@import 'nav';

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid $colorBorder--white;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@import 'post';

.archive {
  &-year a {
    color: #000;
  }
  &-post {
    position: relative;
    padding: 1em 0 1em 2em;
    margin-top: 1em;

    &-link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-title {
      margin: 0;
      padding-right: 0;

      a {
        color: #222;
        text-decoration: none;
      }
    }
  }
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.video-container {
  position: relative;
  padding-top: 60%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}

#post-nav {
  zoom: 1;
  position: relative;
  clear: both;

  @include respond-to('md') {
    margin: 3.125em 0;

    &:before {
      width: 0.5em;
      height: 0.5em;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0.25em;
      margin-left: -0.25em;
      content: '';
      border-radius: 50%;
      background: #ddd;
      box-shadow: 0 1px 2px #fff;
    }
  }
}
.post-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 3.125em;
  text-align: center;
  display: block;

  @include respond-to('md') {
    width: 50%;
    margin-top: 0;
  }
  &:hover {
    text-decoration: none;
    color: #555;
  }
}
@media screen and (min-width: 48em) {
  #post-nav-newer {
    float: left;
    text-align: right;
    padding-right: 1.25em;
  }
}
@media screen and (min-width: 48em) {
  #post-nav-older {
    float: right;
    text-align: left;
    padding-left: 1.25em;
  }
}
.post-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
  #post-nav-newer & {
    margin-right: -2px;
  }
}
.post-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}

#page-nav {
  zoom: 1;
  margin: 3.125em auto;
  background: #fff;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
  a, span {
    padding: 0.625em 1.25em;
  }
  a {
    color: #999;
    text-decoration: none;
    &:hover {
      background: #999;
      color: #fff;
    }
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
  .current {
    color: #555;
    font-weight: bold;
  }
  .space {
    color: #ddd;
  }
  .page-number {
    display: inline-block;
    @include respond-to('sm') {
      display: none;
    }
  }
}

.footer {
  line-height: 2em;
  margin: 3em 0;
  color: #bbb;
  font-size: 0.85em;
  text-align: center;
  a {
    text-decoration: none;
  }
  .social-link a {
    font-size: 1.25em;
    padding: 0 0.5em;
  }
  a:hover {
    .icon-weibo:before {   color: #e6162d; }
    .icon-github:before {  color: #333; }
    .icon-gplus:before {   color: #dd4b39; }
    .icon-twitter:before { color: #00aced; }
  }
}
img {
  max-width: 100%;
}
blockquote {
  background-color: #ddd;
  margin: 0;
  padding: 0.1em 1em;
  border-left: 5px solid #999
}
code {
  font-family: Menlo, Monaco, Consolas, monospace, serif;
  font-size: 0.85em;
  background-color: #ddd;
  padding: 0.2em 0.5em;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #ddd;
  color: #4d4d4c;
  padding: 1em;
  font-size: 0.85em;
  border: 1px solid #ccc;
  pre {
    font-family: Menlo, Monaco, Consolas, monospace, serif;
    margin: 0;
    padding: 0;
  }
  .gutter pre {
    text-align: right;
    padding-right: 1em;
  }
  .line {
    height: 1.8em;
    white-space: pre;
  }
}

// SYNTAX HIGHLIGHTING
pre {
  .comment {
    color: #8e908c;
  }
  .variable,
  .attribute,
  .tag,
  .regexp,
  .ruby .constant,
  .xml .tag .title,
  .xml .pi,
  .xml .doctype,
  .html .doctype,
  .css .id,
  .css .class,
  .css .pseudo {
    color: #c82829;
  }
  .number,
  .preprocessor,
  .pragma,
  .built_in,
  .literal,
  .params,
  .constant {
    color: #f5871f;
  }
  .ruby .class .title,
  .css .rules .attribute {
    color: #eab700;
  }
  .string,
  .value,
  .inheritance,
  .header,
  .ruby .symbol,
  .xml .cdata {
    color: #718c00;
  }
  .title,
  .css .hexcolor {
    color: #3e999f;
  }
  .function,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword,
  .perl .sub,
  .javascript .title,
  .coffeescript .title {
    color: #4271ae;
  }
  .keyword,
  .javascript .function {
    color: #8959a8;
  }
  .coffeescript .javascript,
  .javascript .xml,
  .tex .formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .cdata {
    opacity: 0.5;
  }
}