.post-header.u-cf
  h2.post-title
    !=partial('post/title')
  !=partial('post/date', {date_format: 'MM-DD HH:mm'})
  !=partial('post/category')
  !=partial('post/tag')
if post.link
  a.button--overlay(href!=url_for(post.link) target="_blank")
else
  a.button--overlay(href!=url_for(post.path))