.social-link
  if config.weibo
    a(href="http://weibo.com/" + (config.weibo) target="_blank")
      i.icon-weibo
  if config.github
    a(href="https://github.com/" + (config.github) target="_blank")
      i.icon-github
  if config.gplus
    a(href="https://plus.google.com/" + (config.gplus) target="_blank")
      i.icon-gplus
  if config.twitter
    a(href="https://twitter.com/" + (config.twitter) target="_blank")
      i.icon-twitter
.copyright
  | &copy; #{date(new Date(), 'YYYY')} #{config.author}.
  | Powered by <a href="http://hexo.io" target="_blank">Hexo</a>
  | using <a href="https://github.com/saintwinkle/hexo-theme-pure" target="_blank">Pure</a> theme.