h1.brand-title
  a(href!=url_for()) #{config.title}
h2.brand-tagline
  each name, id in config.subtitle
    div.tagline #{name}
if config.description
  h3.brand-description #{config.description}
nav.nav
  ul.nav-list
    each path, name in config.menu
      li.nav-item
        a.button(href!=url_for(path)) #{name}