meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- Chrome, Firefox OS and Opera
meta(name="theme-color" content!=(theme.color.native_menu))
//- Windows Phone
meta(name="msapplication-navbutton-color" content!=(theme.color.native_menu))
//- iOS Safari
meta(name="apple-mobile-web-app-status-bar-style" content!=(theme.color.native_menu))
title #{config.title}
!=css(['css/style.css'])